body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.table {
  width: 350px;
  height: 531px;
  /* border: 20px solid #623e38; */
  margin: auto;
  /* background-color: #116731;
  border-radius: 38%;
  box-shadow: 0px 0px 64px 3px black inset; */
}

.wooden-part {
  width: 100%;
  height: 100%;
  /* padding: 8px; */
  background-image: radial-gradient(#31201d 55%, #875950 103%, #31201d 63%);
  border-radius: 29%;
  border: 3px solid rgba(12, 12, 12, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table-inner {
  width: 320px;
  height: 486px;
  background-color: #116731;
  border-radius: 29%;
  box-shadow: 0px 0px 64px 3px black inset;
  margin: auto;
}

.card {
  width: 35px;
  height: 50px;
  background-color: #fff;
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  padding: 0px 2px 6px 3px;
  box-shadow: -1px 0px 2px 1px rgb(0 0 0 / 50%);
}

.card .suit {
  text-align: right;
  font-size: 25px;
}

.card.spades {
  color: black;
}

.card.hearts {
  color: red;
}

.card.diamonds {
  color: blue;
}

.card.clubs {
  color: green;
}
.card.bg-red {
  background-color: red;
}

.play-btn-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .8);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.play-btn {
  margin: auto;
  width: 160px;
  padding: 8px;
  font-weight: 800;
  background-color: #0156d5;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 9px;
}

.player-section {
  position: relative;
  top: 330px;
  display: flex;
  justify-content: center;
}

.dealer-section {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
}

.draw-hit-section {
  position: relative;
  display: flex;
  justify-content: center;
  top: 404px;
}

.draw-hit-section button {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #786aef;
  border: 1px solid black;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
  margin: 0px 2px;
}

.draw-hit-section .hit {
  background-color: #4c3bee;
}

.table-bg {
  background-image: url(https://i.pinimg.com/736x/36/f9/b6/36f9b6a35e809f9a5d6a4e5c8b18bdd3.jpg);

  background-color: #071606;
  background-size: cover;
  background-position: center;
}

.rank-score {
  position: absolute;
  bottom: 62px;
  background: rgba(0, 0, 0, .5);
  /* padding: 0px 12px 2px 12px; */
  text-align: center;
  border-radius: 13px;
  color: #fff;
  width: 41px;
  height: 24px;
}

.dealer-section .rank-score {
  top: 62px;
  bottom: 0px;
}
.mid-section {
  position: relative;
    top: 162px;
    background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: end;

}
.mid-section .cards .card{
  position: absolute;
  top: 0;
  right: 20px;
}